<% @programs = programs(@season, "vote") %>
<div class="row">
  <div id="keyvisual">
    <%= image_tag "keyvisual.jpg" %>
  </div>
  <div>
    <h3 class="now-season"><%= @season.now %></h3>
  </div>
  <table>
    <tbody>
    <% @programs.each do |p| %>
      <tr>
        <td><%= p.rank %>位</td>
        <td><a href=<%= p.url %> ><%= p.title %></a></td>
        <td><%= p.vote %>票</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
