<h3>ウォッチリスト <%= @season.now %></h3> 

<table class="table">
	<tbody>
	<% @watch_lists.each do |w| %>
		<tr>
			<td><%= link_to w.program.title, w.program.url %></td>
			<td><%= w.detail.tv_station %></td>
      <td><%= strftime(w.detail.started_at)%></td>
		<% end %>
	</tbody>
</table>
<% if @season.current %>
	<%= link_to "編集", new_user_watch_list_path(:user_name => @user.name) %>
<% end %>
