<div class="wrapper-header">
	<div class="header">
			<%= link_to image_tag('header_logo.png', { :class => "header-logo", :alt => 'ヘッダーロゴ' }), root_path %>
      <div id="twitter-login">
				<% if singed_in? %>
				<ul>
				<li>
				<%= link_to user_path(:name => current_user.name) do %>
						<%= image_tag(current_user.img_url, { :alt => 'twitter_profile_image', :id => "twitter-profile-image" }) %>
          <span class="profile">マイページ</span>
					<% end %>
				</li>
				<li>
					<%= link_to "Logout", logout_path, :method => "POST" %>
				</li>
				</ul>
				<% else %>
					<ul>
					<li>
					<%= link_to image_tag('sign-in-with-twitter-gray.png', { :id => 'twitter-sign-in', :alt => 'Twitterでログイン' }), "/auth/twitter" %>
					</li>
				</ul>
				<% end%>
      </div>
		</div>
</div>
